<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
	    <title>User Survey Management | Home</title>
	    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
		<br><br><br><br>
		<div class="container text-center">
			<div class="container text-center">
				<div>
					<h4 style="color: blue">Welcome to User Survey Management</h4>
					<h6>------------------------------------------------------------------------------------------</h6>
				</div>
			</div>
			<br>
			<div>
				<h6>| <a th:href="@{/registration}">New User Registration</a> | <a th:href="@{/login}">Registered User Login</a> |</h6>
			</div>
		</div>
	</body>
</html>